body{
    background-color:rgb(255,255,0);

    color:red;
    background-image:url("ayush.jpg.jpg");
    background-size:cover;
    font-size:25px;


}
button{
    color:brown;
    background-color:aqua;

}
h1{
    text-align:center;
    color:black;
    text-decoration: underline;
}